// Variables
@import 'variables';

* {
    margin: 0;
    padding: 0;
}

.container {
    width: 500px;
    margin: 0 auto;
    padding-top: 20px;

    header {
        padding: 0 10px;
        height: 50px;

        h1 {
            font-size: 20px;
            float: left;
        }

        nav {
            margin-top: 5px;
            float: right;

            ul {
                li {
                    list-style: none;
                    display: inline-block;

                    a {
                        text-decoration: none;
                        padding: 0 10px;
                        color: $keshizumi;
                    }

                    a:hover {
                        color: $kuro;
                    }
                }
            }
        }
    }

    .content {
        margin: 10px 10px 30px 10px;
    }

    footer {
        text-align: center;
        font-size: 13px;

        a {
            text-decoration: none;
            color: $keshizumi;
        }

        a:hover {
            color: $kuro;
        }
    }
}

.logout-form {
    display: none;
}

form {
    width: 300px;
    margin: 0 auto;
    text-align: center;

    p {
        line-height: 40px;
    }

    input {
        width: 200px;
        height: 20px;
    }

    button {
        margin: 0 auto;
        height: 24px;
        width: 100px;
    }
}
